@model MyWeddingModel

    <h1 class="display-4">Welcoome to the Wedding page, @Model.User.FirstName!!!</h1>
<div class="w-50">
    <h1>@Model.Wedding.WedderOne & @Model.Wedding.WedderTwo's Wedding</h1>
    <h3>Date: @Model.Wedding.Date.ToString("MM/dd/yyyy")</h3>
    <h4>Location: @Model.Wedding.Address</h4>
    <div class="border-bottom"></div>
    <h3>Guests:</h3>

    <ul class="list-group">
        @foreach (Reservation guest in Model.Wedding.Guests)
        {
            <li class="list-group-item w-25 text-center border border-4">@guest.User.FirstName @guest.User.LastName</li>
        }
    </ul>
</div>

